* {
  box-sizing: border-box;
}
.row {
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}

/* Non-mobile, grid */

@media only screen and (min-width: 600px) {

  nav ul {
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    padding-right: 2%;
    display: inherit;
  }

  .fixedBottom {
    position: absolute; 
    bottom: 0;  
    height: 80px;
    z-index: 1;
  }

  .fixedTop {
    position: fixed; 
    top: 0; 
    height: 80px; 
    z-index: 1;
  }

  .logo img {
    margin-left: 35px;
    height: 60px;
    width: 60px;
  }
   .nameTitle {
    margin-left: 10px;
    margin-top: 15px;
  }

}

@media only screen and (min-width: 1000px) {
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
    width: 33.3%
  }

  /* 6 columns */
  .col-6 {
    width: 50%;
  }

  /* 12 columns */
  .col-12 {
    width: 100%;
  }

  section p {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px;
  }

  .secTitle {
    padding-bottom: 10px;
  }

  nav ul li {
    margin-bottom: 4px;
    padding: 5px;
  }



  .nameTitle,
  .logo img {
    padding:0px;
  }
  
  .hero {
    padding-top: 1px;
    height: 100vh;
  }

  .heroText {
    margin-top: 15vh;
    margin-left: 10vh;
    margin-right: 10vh;
    padding-bottom: 0px;
  }

  .projWin {
    height: 530px;
    margin-right: 5%;
    margin-left: 5%;
  }

  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .projIcon {
    height:70%;
  }

  .links {
    margin-bottom: 0px;
  }
}