* {
  box-sizing: border-box;
}
.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}

/* Non-mobile, grid */

@media only screen and (min-width: 1000px) {
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
    width: 33.3%
  }

  /* 6 columns */
  .col-6 {
    width: 50%;
  }

  /* 12 columns */
  .col-12 {
    width: 100%;
  }


  nav {
    box-shadow: 0 5px 5px -5px #333;
  }

  .fixedBottom {
    position: absolute; 
    bottom: 0;  
    height: 60px;
    z-index: 1;
  }

   .fixedTop {
    position: fixed; 
    top: 0; 
    height: 60px; 
    z-index: 1;
  }



  nav ul {
    /*width: 590px;
    height: 70px;
    font-size: 20px;
    margin-left: 50%;
    margin-right: 35px;*/
    text-align: right;
    padding-right: 2%;
    /*padding-top: 36px;
    box-shadow: none;
    padding-bottom: 43px;*/
  }

  nav ul li {
    padding-left: 20px;
  }

  .nameTitle {
    margin-left: 10px;
    margin-top: 28px;
  }

  .nameTitle,
  .logo img {
    float:left;
    padding:0px;
  }

  .logo img {
    margin-left: 35px;
    margin-bottom: 10px;
    height: 60px;
    width: 60px;
  }

  /*main {
    margin-top: 70px; 
  }*/
  
  .hero {
    height: 100vh;
  }
}