body{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding:0px;
  margin: 0px;
}

main {
  margin-top:80px; 
}

a {
  color: inherit; 
  text-decoration: inherit;
}

h1 {
  margin: 0px;
}

nav {
  background: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  color:black;
  z-index: 2;
  text-align: center;
}

footer {
  background: #1B365C;
  color: #7FA3D7;
}

.logo img {
  margin:auto;
  margin-top: 10px;
  height: 65px;
  width: 65px;
}

nav ul {
  color: #757575;
  font-size: 20px;
  width:100%;
  background: white;
  position: absolute;
  margin-top: -3px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-left:0%;
  padding-right:0%;
  padding-bottom:10px;
  right: 0px;
  text-align: center;
  box-shadow: 0 5px 5px -5px #333;
}

nav ul li {
  height:100%;
  display: inline-block;
  margin: 0px;
}

nav ul li:hover {
  color: #3C79CF;
}

section {
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0px;
  /*min-height: 400px;*/
}

section p {
  font-size: 20px;
}

/*section:nth-child(2n+1) {
  background: white;
}*/

.projWin {
  margin: auto;
  margin-top: 25px;
  height: 400px;
  max-width: 550px;
  border-radius: 9px;
  box-shadow: 2px 2px 2px 1px;
}

.screenshot img {
  height: 100%;
  width: 100%;
  border-radius: 9px;
}

.nameTitle {
  color: #1B365C;
}

.hero {
  min-height: 400px;
  background: url("background.png");
  background-size: 100% 100%;
  color: white;
}

.about {
  color: #3C79CF;
}

.projects {
  background: #F5F6F7;
}

.projWin {
  background: white;
}

.contact {
  background: #3C79CF;
  color: #1B365C;
}

.icons {
  font-size: 100px;
}

.fab:hover,
.fas:hover {
  color: white;
}
