body{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding:0px;
  margin: 0px;
  color: #444444;
}

main {
  margin-top:140px; 
}

a {
  color: inherit; 
  text-decoration: inherit;
}

h1 {
  margin: 0px;
}

nav {
  background: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  text-align: center;
}

footer {
  background: #1B365C;
  color: #7FA3D7;
}

.logo img {
  margin:auto;
  margin-top: 10px;
  height: 65px;
  width: 65px;
}

nav ul {
  color: #757575;
  font-size: 20px;
  width:100%;
  background: white;
  position: absolute;
  margin-top: -3px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-left:0%;
  padding-right:0%;
  padding-bottom:10px;
  right: 0px;
  text-align: center;
  box-shadow: 0 5px 5px -5px #333;
}

nav ul li {
  height:100%;
  display: inline-block;
  margin: 0px;
}

nav ul li:hover {
  color: #3C79CF;
}

section {
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0px;
  /*min-height: 400px;*/
}

section p {
  font-size: 20px;
}

.introHeader {
  font-size: 25px;
}

.intro {

}

/*section:nth-child(2n+1) {
  background: white;
}*/

.projWin {
  margin: auto;
  margin-top: 25px;
  height: 460px;
  max-width: 550px;
  border-radius: 9px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.08);
}

.screenshot {
  height: 100%;
  width: 100%;
  border-radius: 9px;
}

.nameTitle {
  color: #1B365C;
}

.hero {
  min-height: 400px;
  background: url("background.png");
  background-size: 100% 100%;
  color: white;
}

#profilePic {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.about {
  color: #3C79CF;
}

.projects {
  background: #F1F1F1;
}

.projWin {
  background: white;
}

.contact {
  background: #3C79CF;
  color: #1B365C;
}

.icons {
  font-size: 100px;
}

.fab:hover,
.fas:hover {
  color: white;
}

.projIcon {
  width:100%;
  height:70%;
}

.liveLink,
.codeLink {
  margin: 0px;
}

.projTitle,
.textDescript {
  text-align: left;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 15px;
}

.textDescript {
  margin-left: 20px;
}

.liveLink {
  margin-right:25%;
}

.codeLink {
  margin-left:25%;
}

.links {
  margin:10px;
}

.projTitle{
  margin-left:0px;
  font-weight:bold;
  font-size: 20px;
}

.techUsed {
  margin-left:45px;
}
.techUsed i{
  margin-right:10px;
}
