body * {
  box-sizing: border-box;
}

.container-fluid{
	z-index: 1;
	background-color: blue;
	color: white;
	height: 100px;
	width: 100%;
	position: fixed;
	box-shadow: 2px;
}

a{
	color:white;
}

ul{
	padding:0;
	margin:0;
    font-size: 20px;
   }

ul, li{
	display: inline-block;
}

.logo{
	background-color: blue;
	border: 2px solid white;
	position: fixed;
	left: 30px;
	top:10px;
	height: 80px;
	border-radius: 10%;
}


main{
	padding: 140px;
}
.navbar-fixed-top{
	top: 20px;
	margin-right: 0;
}
.navbar-brand{
	position: absolute;
	left:124px;
}
.navbar-right{
	margin-right: 0;
}
.navbar-toggle{

	background-color: white;
}

.icon-bar{
	background-color: black;
}
.navbar-nav > li > a:hover{
	background-color: black;
	color: green;
}
section img{
	border: 4px solid blue;
	border-radius: 4px;
}
.splashScreen{
	margin-bottom: 5px;
	margin-top: 5px;
}

